body,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}


.nav-main {
    display: none;
    position: fixed;
    top: 156px;
    left: 0px;
    background-color: white;
    z-index: 1000;
    position: fixed;
}

.nav-main-bar {
    top: 104px;
}

#hamburger-menu:checked ~ .nav-main {
    display: block;
}

#hamburger-menu {
    display: none;
}

header nav li {
    display: block;
}


header a,
footer a{
    color: #000;
}

.header_top,
footer {
    background-color: #7189A1;
    color: #000000;
}

.header_main {
    background-color: #ffffff;
    color: #000000;
    outline: #000000;
    outline-width: 1px;
}

.header_main:after
{
    content:' ';
    display:block;
    border:2px solid black;
} 

.header_logo {
    min-width: 330px;
    width : 50vw;
    height : auto;
 
}

.header_logo_mini {
    min-width: 110px;
    width : 20vw;
    height : auto;

}

.header-bar {
    display: flex;
	justify-content: space-between;
	align-items: center;
    background-color: white;
    overflow: hidden;
    justify-content: space-evenly;
}

.header-bar a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.header-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .header-logo {
    flex: 1;
    align-self: center;
    width: 150px;
    height: auto;
  }

  .header-index-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 40%;
    height: auto;
  }


  .bar-main {
    justify-content: space-between;
  }

.info {
    display: flex;
    max-width: 1280px;
    margin: auto;
    flex-wrap: wrap;
}

.info > * {
    flex: 1;
    margin: 10px;
}

.info img {
    width: 40%;
}

.info-delivery {
    margin-top: 10px;
    display: none;
}

.delivery-car,
.delivery-shipping {
    width: 100%;
}

/* Links */

a {
    text-decoration: none;
}


.product-fill h2 {
    font-family: 'Roboto';
    font-weight: 700;
}

.product-fill {
    min-width: 279px;
    width: 10vw;
    height: auto;
    text-align: center;
    background-color: #D8DCE0;
    color: #000;
}


.cta-button_home {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    background-color: #7189A1;
    color: #000;
    font-size: 1,5em;
    text-align: center;
    padding: 10px 30px;
    outline: solid;
    outline-color: black;
    outline-width: thin;
    border-radius: 10px;
}


/* Homepage */

.hl {
    background-color: #ffffff;
}


.welcome {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position-x: top;
    background-position-y: center;
    min-height: 35vh;
}

.welcome_content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;

}

.welcome_content-logo {
    position: absolute;
    bottom: -18em;
    right: 36em;
    min-width: 330px;
    width : 50vw;
    height : auto;
    
}


.welcome_content-shop  {
    position: absolute;
    bottom: -18em;
    right: 36em;
}

.jacket-categorys {
    max-width: 1280px;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    
}

.jacket-categorys > * {
    flex: 1;
    margin: 10px;
}

.jacket_imgae {
    width: 100%;
    margin: auto;
}


.button-container {
    display: inline;
    position: relative;
}

.button-container a {
    position: absolute;
    bottom: 3em;
    right: -3em;
}

.menu-items-default {
    font-size: xx-large;
    display: block;
    padding: 10px 30px;
}


.product_size {
    margin: 20px;
    min-width: 239px;
    width: 10vw;
    height: auto;
}

.hl_favorites{
    background-color: #7189A1;
    text-align: center;
    margin-bottom: 50px;
}

.hl_display{
    display: flex;
    width: 1280px;
    height: 500px;
    display: flex;
    overflow-x: auto;
    
}

.hl_display >*{
    margin: 0px 20px;
}


.hl_display {
    width: 100%;
}

.hl{
    display: flex;
    max-width: 1280px;
    margin: 30px;
    flex-direction: column;
}


.slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
}


.sign-up {
    display: flex;
    max-width: 1280px;
    margin: auto;
    flex-direction: column;
}

.sign-up > * {
    flex: 1;
    margin: 15px;
}

.sign-letter{
    font-size: x-large;
}

.sign-up_button{
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    background-color: #7189A1;
    color: #000;
    font-size: 1.5em;
    text-align: center;
    padding: 6px 50px;
    outline: solid;
    outline-color: black;
    outline-width: thin;
    border-radius: 10px;
    margin: 10px;
}

.email {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 13px;
    width: 200px;
}



/* Shop */

.product_size-shop {
    margin: 20px;
    max-height: 250px;
    width: auto;
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
    object-fit: contain;
}


.shop_welcome {
    display: flex;
    max-width: 1280;
    margin: 30px auto;
    flex-direction: column;
}

.shop_welcome > * {
    flex: 1;
}

.shop_man {
    width: 100%;
}

.shop_welcome-img {
    width: 100%;
}

.shop_welcome-text {
    text-align: center;
}

.jacket {
    max-width: 1280px;
    margin: auto;
    margin-bottom: 100px;
}

.shop_quote {
    text-align: center;
    padding-top: 130px;
}

.jacket-list {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 20px;
    justify-content: center;
}


/* About us */



.about-us,
.our-vision  {
    max-width: 1280px;
    margin: 50px auto;
    display: flex;

}

.about-us > *,
.our-vision > * {
    flex: 1;
}

.about-us img,
.our-vision img{
    width: 100%;

}

.about-us {
    flex-direction: column;
}

.our-vision{
    flex-direction: column-reverse;
}

.about-text {
    margin: 30px;
}

/*product specidic*/

.campion-jacket {
    display: flex;
    max-width: 1280px;
    margin: 50px 10px;
    flex-direction: column;
}

.campion-jacket > * {
    flex: 1;

}

.campion-jacket image{
    width: 100%;
}

.campion-size {
    display: flex;
}


.campion-size > * {
    margin: 3px;
    
}

.campion-text{
    margin: 30px;

}

.campion-basket{
    margin: 50px 0px;
}

.campion-jacket-pic {
    width: 100%;
}

.size {
    background-color: #ffffff;
    color: #000;
    font-size: 0,5em;
    padding: 1px 12px;
    border-radius: 4px;
    outline: solid;
    outline-color: black;
    outline-width: thin;
    border-radius: 10px;
    
}

/* cart */

.cart{
    display: flex;
    max-width: 1280px;
    flex-direction: column;
    margin: 30px auto;
    

}

.cart > * {
    flex: 1;

}

.order-jacket{
    width: 100%;
    margin: 30px 0px;

}

.order-remove{
    text-decoration: none;
    color: #E23737;
}

.order-sum{
    display: flex;
    font-size: small;
    border: solid;
    max-width: 1280px;
}

.order-sum > * {
    flex: 1;
}

.order-sum-text{
    flex: 3;
}

.total{
    display: flex;
    justify-content: space-around;
}

.total-content{
    border: solid;
    padding-bottom: 20px;
}

.total-button{
    margin-left: 20px;
}

.campion-jacket-text{
    font-size: large;
}

/* checkout-sucsess */

.thanks {
    text-align: center;
    margin: 50px;
    }
    
    .thanks-mail{
        text-align: center;
        margin: 50px;
    }
    
    /* empty cart */
    
    .empty-cart {
        text-align: center;
       margin: 90px auto;
    }
    
    .cart-text {
        font-size: xx-large;
    }
    
    .back-shopping{
        text-decoration: underline;
        color: #000000;
    }
    
    /* media */
    
    
    @media (min-width: 400px) {
        .cta-button_homehome {
            padding: 25px 50px;
            font-size: 1em;
        }
    }
    
    
    @media (min-width: 600px) {
        .sign-up {
            flex-direction: row;
        }
        .sign-up > * {
            margin: 70px;
        }
    
        .hl_favorites {
            padding: 50px;
            margin-right: 20px;
            padding-top: 150px;
            margin-bottom: 0px;
        }
    
        .hl {
            flex-direction: row;
        }
    
        .jacket-list{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }  
    
        .nav-main {
            display: block;
            position: static;
        }
    
        header label {
            display: none;
        }
    
         header nav li {
            display: inline-block;
         }
    
    
         .header-bar {
            justify-content: space-between;
         }
    
         .info-delivery {
            display: block;
         }
    
         .campion-jacket {
            flex-direction: row;
        }
    
        .cta {
            padding: 25px 50px;
            font-size: 2em;
        }
    
        .welcome {
            min-height: 50vh;
        }
    
    }
    
    @media (min-width: 800px) {
        .jacket-categorys,
        .our-vision,
        .about-us,
        .cart {
            flex-direction: row;
        }
        .info > * {
            margin: 0px;
        }
        .shop_welcome-text {
            font-size: x-large;
            ;margin: 70px
        }
    
        .shop_welcome {
            flex-direction: row;
        }
    
        .jacket-list{
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }  
    
    
        .header-bar a {
            font-size: 30px;
    
        }
    
        .campion-size > * {
            margin: 10px;
         }
    
        .cart > * {
            margin: 10px;
        }
    
        .welcome {
            min-height: 60vh;
        }
    
        .header-index-image {
            width: 30%;
        }
    
        .cart {
            margin: 100px 50px;
        }
    
    }
    
    @media (min-width: 1100px) {
        .jacket-list{
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }  
    
    }